---
---

<footer class="footer p-10 bg-neutral text-neutral-content">
  <div>
    <span class="footer-title">Socials</span>
    <a class="link link-hover" href="/discord">Discord</a>
    <a class="link link-hover" href="https://a2m8-git.tricked.dev">Gitea</a>
    <a class="link link-hover" href="https://github.com/a2m8-app">Github</a>
    <a class="link link-hover">to</a>
  </div>
  <div>
    <span class="footer-title">Company</span>
    <a class="link link-hover">put</a>
    <a class="link link-hover">stuff</a>
    <a class="link link-hover">here</a>
    <a class="link link-hover">but</a>
  </div>
  <div>
    <span class="footer-title">Legal</span>
    <a class="link link-hover">i</a>
    <a class="link link-hover">dunno</a>
    <a class="link link-hover">what</a>
  </div>
</footer>
