---
// import AvatarList from './AvatarList.astro';
type Props = {
	path: string;
};
const { path } = Astro.props;
---

<footer class="footer p-10 bg-neutral text-neutral-content">
	<div>
	  <span class="footer-title">Services</span> 
	  <a class="link link-hover">Look</a>
	  <a class="link link-hover">im</a>
	  <a class="link link-hover">supposed</a>
	  <a class="link link-hover">to</a>

	</div> 
	<div>
	  <span class="footer-title">Company</span> 
	  <a class="link link-hover">put</a>
	  <a class="link link-hover">stuff</a>
	  <a class="link link-hover">here</a>
	  <a class="link link-hover">but</a>
	</div> 
	<div>
	  <span class="footer-title">Legal</span> 
	  <a class="link link-hover">i</a>
	  <a class="link link-hover">dunno</a>
	  <a class="link link-hover">what</a>
	</div>
</footer>
