---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<div class="bg-base-200/20 w-full rounded-lg">
		<nav class="navbar max-w-[75rem] mx-auto">
			<div class="ml-4 flex-1 text-3xl">
				<p class="font-bold">A2</p>
				<p>M8</p>
			</div>
			<div class="flex-none">
				<ul class="menu menu-horizontal px-1">
					<li>
						<a>Wiki</a>
					</li>
					<li>
						<a>Workshop</a>
					</li>
					<li>
						<a>Discord</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<main>
		<div class="hero min-h-screen bg-base-200">
			<div class="hero-content flex-col lg:flex-row-reverse">
				<!-- <img src="https://placeimg.com/260/400/arch" class="max-w-sm rounded-lg shadow-2xl" /> -->
				<div>
					<h1 class="text-5xl font-bold">A2M8!</h1>
					<p class="py-6">
						<strong>A2M8</strong> allows you to write lua scripts that
						automate things for any platform
					</p>
					<button class="btn btn-primary">Download the app</button>
				</div>
			</div>
		</div>
	</main>
</Layout>
